<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<div  style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Get UTC time</h5>
    <div class="form-group">
      <label for="time">Time(hh:mi:ss)</label>
      <input type="text" id="time" placeholder="time(hh:mi:ss)"  formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" >
      <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
        <div *ngIf="f.time.errors.required">Time is required</div>
    </div>
    </div>
    <div class="form-group">
      <label for="timezone">TimeZone</label>
      <input type="text" class="form-control" id="timezone" placeholder="TimeZone"  formControlName="timezone"  [ngClass]="{ 'is-invalid': submitted && f.timezone.errors }" />
      <div *ngIf="submitted && f.timezone.errors" class="invalid-feedback">
          <div *ngIf="f.timezone.errors.required">TimeZone is required</div>
      </div> 
    
    </div>
    <div class="form-group">
      <button  class="btn btn-primary">Get UTC Time</button>
    </div>
    
  </div>
</div>
</form>